@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}


header.hedar{
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px 100px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    font-style: bold;
    margin-right: 800px;
    color: #359381;
    pointer-events: none;
}

.navigation-bars a {
    position: relative;
    font-size: 1.5rem;
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    font-weight: 600;
    border-radius: 20px;
    margin: 0 10px;
}

.navigation-bars a:hover,
.navigation-bars a:active {
    background: #359381;
    color: #f9f9f9;
}

.parallax{
    position: relative;
    margin-top: -2rem;
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
 .parallax img{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    
 }


 .earth{
    width: 100%;
    filter: drop-shadow(0 0 10px rgb(0, 225, 225));
    filter: drop-shadow(0 0 20px rgb(0, 225, 225));
    filter: drop-shadow(0 0 40px rgb(0, 225, 225));
    filter: drop-shadow(0 0 100px rgb(0, 225, 225));
}


.earth-wrap{
    animation: rotatePlanet 120s infinite;
}


.text{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 4rem;

}

.contact {
    background: url('https://cdn.pixabay.com/photo/2018/08/21/23/29/forest-3622519_1280.jpg') no-repeat top center;
    background-size: cover;
    height: 100vh;
}

.wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 550px;
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.wrapper .title h1 {
    color: #28c76f;
    text-align: center;
    margin-bottom: 25px;
}

.contact-form {
    display: flex;
}

.input-fields {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input-fields,
.msg-massage {
    width: 48%;
}


.input-fields {
    margin: 10px 0;
    background: transparent;
    border: 0px;
    padding: 10px;
    color: whitesmoke;
    width: 70%;
}

.input,
.msg-massage  textarea {
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #28c76f;
    padding: 10px;
    color: whitesmoke;
    width: 100%;
}

.msg-massage  textarea {
    height: 212px;
}

::-webkit-input-placeholder {
    color: #28c76f;
}

::-moz-placeholder {
    color: #28c76f;
}

::-ms-input-placeholder {
    color: #28c76f;
}

.btn-submit {
    background-image: linear-gradient(135deg, #81fbb8 10%, #28c76f 100%);
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-decoration: uppercase;
}

.btn:hover {
    background: #49c628;
}

@media screen and (max-width:600px) {
    .contact-form {
        flex-direction: column;
    }

    .msg-massage  textarea {
        height: 80px;
        width: 100%;
    }

    .input-fields,
    .msg-massage  {
        width: 100%;
    }
}